// Color

$background-main: #fbfbfb;
$background-button: #ffcc26;
$heart: #414141;
$white: #fff;

// Fonts

$header-font: "Anek Telugu", sans-serif;
$main-font: "Poppins", sans-serif;
$reqular: 400;
$bold: 500;
$boldest: 600;
