.header {
  background-color: $background-button;
  padding-top: 33px;
  padding-bottom: 36px;
}

.header_title {
  @include text($header-font, 600, 32px, 31px, $heart);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: end;
}
