.header {
  background-color: $background-button;
  padding: 33px 91px 36px 91px;
}

.header_title {
  font-family: "Anek Telugu";
  font-weight: 600;
  font-size: 32px;
  line-height: 31px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #414141;
  text-align: end;
}
