.products-pages_section {
  height: 100%;

  background-color: $background-main;
  padding-top: 100px;
}

.products-page_container {
  @include position(flex, initial, space-between, initial);
  padding-top: 100px;
  padding-bottom: 100px;
}

.products-list_List {
  @include position(flex, center, initial, wrap);
  width: calc(262px * 4 + 120px);
  margin-left: auto;
  margin-right: -30px;
  margin-bottom: -30px;
}

.products-list_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  border: 1px dashed $heart;
  border-radius: 30px;
  width: 262px;
  height: 400px;
  margin-bottom: 30px;
  padding: 26px 35px 22px 35px;
  &:not(:last-child) {
    margin-right: 30px;
  }

  & > p {
    @include text($main-font, $reqular, 20px, 30px, $heart);
  }
}

.products-list_button-container {
  @include position(flex, center, space-between, initial);
  & > p {
    @include text($main-font, $bold, 24px, 36px, $heart);
  }
}

.products-list_button {
  width: 32px;
  height: 32px;
  background-color: $background-button;
  border-radius: 5px;
}

.heart {
  position: relative;
  width: 10px;
  height: 18px;
  margin-left: 8.5px;
  background-color: $white;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.heart:before {
  position: absolute;
  width: 18px;
  height: 10px;
  left: 0;
  bottom: 0;
  content: "";
  background-color: $white;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 0 50px 50px 0;
}

.heart--active {
  position: relative;
  width: 10px;
  height: 18px;
  margin-left: 8.5px;
  background-color: $heart;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.heart--active:before {
  position: absolute;
  width: 18px;
  height: 10px;
  left: 0;
  bottom: 0;
  content: "";
  background-color: $heart;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 0 50px 50px 0;
}
